<%- include("partials/header"); -%>

    <div class="jumbotron centered">
        <div class="container-fluid">
            <div class="card ">
                <div class="card-body">
                  <h1 class="card-title">O que vamos fazer hoje?</h1>
                  <h4 class="card-text">Escolha uma das opções abaixo.</h4>
                  <a href="/compose" class="btn send-form btn-admin">Posts</a>
                  <a href="/bikini" class="btn send-form btn-admin">Bikini</a>
                </div>
            </div>
        </div>
    </div>

     <section class="client-request-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1><strong>Pedidos das Clientes S2</strong></h1>
                 <%   people1.forEach(function(person){ %>
                    <div class="card w-50">
                        <div class="card-body client">
                            <h2 class="card-title">Nome: <%=person.namePerson%></h2>
                            <h3>Email: <%=person.emailPerson%> </h3>
                            <h3>Contato: <%=person.contactPerson%></h3>
                            <h3>URL de Referência: <%=person.urlImagePerson%></h3>
                            <p>Imagem: <%=person.imagePerson%></p>
                            <h3>Tamanho do Sutiã: <%=person.braPerson%></h3>
                            <h3>Tamanho da Calcinha: <%=person.pantiesWomanPerson%></h3>
                            <h3>Altura da mulher: <%=person.heightWomanPerson%></h3>
                            <h3>Medida do busto: <%=person.braWomanPerson%></h3>
                            <h3>Medida sob o busto: <%=person.sobBraPerson%></h3>
                            <h3>Medida da Cintura: <%=person.waistWomanPerson%></h3>
                            <h3>Medida do Quadril: <%=person.hipWomanPerson%></h3>
                            <h3>Medida do Quadril (Homem): <%=person.hipManPerson%></h3>
                            <h3>Medida da Coxa: <%=person.thighManPerson%></h3>
                            <h3>Medida da Cintura: <%=person.waistManPerson%></h3>
                            <h3>Altura (Homem): <%=person.heightManPerson%></h3>
                            
                        </div>
                    </div>
                <%    });   %>
                </div>
    
            </div>
        </div>
    </section> 

    <section class="client-contact-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1><strong>Mensagens das Clientes S2</strong></h1>
                 <%   people2.forEach(function(contact){ %>
                    <div class="card w-50">
                        <div class="card-body client">
                            <h2 class="card-title">Nome: <%=contact.nameContact%></h2>
                            <h3>Email: <%=contact.emailContact%> </h3>
                            <h3>Contato: <%=contact.phoneNumberContact%></h3>
                            <h3>Assunto: <%=contact.subjectContact%></h3>
                            <p>Mensagem: <%=contact.textContact%></p>
                            
                        </div>
                    </div>
                <%    });   %>
                </div>

            </div>
        </div>
    </section>

<%- include("partials/footer"); -%>