<%- include("partials/header"); -%>

    <section class="blog">

        <%  posts.forEach(function(post){ %>

            <div class="titles-blog">
                <h2 class="title-blog"><%=post.title%></h2>
                <h2 class="subtitle-blog"><%=post.subtitle %></h2>
                <h3 class="content-blog"> <%=post.content%> </h3>
            </div>           
        
        <% }) %> 
        
        <div class="img-blog">
            <img class="image-blog" src="/images/imagem-blog.png" alt="bikini evolution">
        </div>
            
    </section>

<%- include("partials/footer"); -%> 