<%- include("partials/header"); -%>

    <section class="blog">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <%  posts.forEach(function(post){ %>
    
                        <div class="titles-blog">
                            <h2 class="title-blog"><%=post.title%></h2> 
                            <h2 class="subtitle-blog"><%=post.subtitle %></h2>
                            <h3 class="content-blog"> <%=post.content%> </h3>
                            <hr>
                        </div>           
                    
                    <% }) %> 
                </div>
                <div class="col-sm-6">
                    <div class="img-blog">
                        <img class="image-blog" src="/images/imagem-blog.png" alt="bikini evolution">
                    </div>
                </div>
            </div>     
        </div>        

    </section>

<%- include("partials/footer"); -%> 