<%- include("partials/header"); -%>

    <section class="client-contact-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                 <%   contacts.forEach(function(contact){ %>
                        <div class="client">
                            <h2>Nome: <%=contact.nameContact%></h2>
                            <h3>Email: <%=contact.emailContact%> </h3>
                            <h3>Contato: <%=contact.phoneNumberContact%></h3>
                            <h3>Assunto: <%=contact.subjectContact%></h3>
                            <p>Mensagem: <%=contact.textContact%></p>
                            <hr>
                        </div>
                <%    });   %>
                </div>

            </div>
        </div>
    </section>

<%- include("partials/footer"); -%> 